@page
@model EcommerceReal.CreateModel

@{
    ViewData["Title"] = "Create";
}
@if (!string.IsNullOrWhiteSpace(Model.mesaage))
{
    <div class="alert alert-dismissible alert-success">
        @Model.mesaage
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.error))
{
    <div class="alert alert-dismissible alert-danger">
        @Model.error
    </div>
}
<h1>Create</h1>

<h4>SubCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubCategory.name" class="control-label"></label>
                <input asp-for="SubCategory.name" class="form-control" />
                <span asp-validation-for="SubCategory.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategory.BannerImage" class="control-label"></label>
                <input asp-for="BannerImage" class="form-control" />
                <span asp-validation-for="SubCategory.BannerImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategory.MainCategoryId" class="control-label"></label>
                <select asp-for="SubCategory.MainCategoryId" class="form-control" asp-items="ViewBag.MainCategoryList">
                    <option selected="selected" value="-1">--select Category--</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
